deployments/
.settings/
.openshift/
src/main/webapp/app/
src/main/gwt-unitCache/
src/main/webapp/WEB-INF/lib/
src/main/webapp/WEB-INF/classes
target/
.errai/
example.iml
.idea/
.DS_Store
target
.settings/*
!.settings/.jsdtscope
.project
.classpath
